<?xml version="1.0"?>
<configuration>
	<system.web>
		<compilation debug="true" targetFramework="4.0" />
	</system.web>
	<system.serviceModel>
		<services>
			<service name="Arbiter">
				<endpoint address="net.pipe://localhost/Arbiter"
						  binding="netNamedPipeBinding"
						  bindingConfiguration="SimplePipeBinding"
						  contract="IArbiterService" />

				<!-- The mex endpoint is exposed at http://localhost/Arbiter.svc/mex -->
				<endpoint address="mex"
						  binding="mexHttpBinding"
						  contract="IMetadataExchange" />
			</service>
		</services>

		<bindings>
			<netNamedPipeBinding>
				<binding name="SimplePipeBinding"
						 closeTimeout="00:01:00"
						 openTimeout="00:01:00"
						 receiveTimeout="00:10:00"
						 sendTimeout="00:01:00"
						 transactionFlow="false"
						 transferMode="Buffered"
						 transactionProtocol="OleTransactions"
						 hostNameComparisonMode="StrongWildcard"
						 maxBufferPoolSize="524288"
						 maxBufferSize="65536"
						 maxConnections="10"
						 maxReceivedMessageSize="65536">
					<security mode="Transport">
						<transport protectionLevel="EncryptAndSign" />
					</security>
				</binding>
			</netNamedPipeBinding>
		</bindings>

		<!--<behaviors>
			<serviceBehaviors>
				<behavior>
					-->
		<!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
		<!--
					<serviceMetadata httpGetEnabled="true"/>
					-->
		<!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
		<!--
					<serviceDebug includeExceptionDetailInFaults="false"/>
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<serviceHostingEnvironment multipleSiteBindingsEnabled="true" />-->
	</system.serviceModel>
	<!--<system.webServer>
		<modules runAllManagedModulesForAllRequests="true"/>
	</system.webServer>-->
</configuration>
