<?xml version="1.0"?>
<configuration>
  <appSettings/>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <httpRuntime/>
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="GeometryManager" />
        <binding name="TimingManager" />
        <binding name="MembershipManager" />
        <binding name="MembershipSetup" />
        <binding name="RuleManager" />
        <binding name="BasicHttpBinding_IObserver" />
      </basicHttpBinding>
      <wsDualHttpBinding>
        <binding name="NotificationManager">
          <security mode="Message">
            <message clientCredentialType="Windows" />
          </security>
        </binding>
      </wsDualHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://master-pc:2002/Configuration/ConfigurationService.svc/NotificationManager"
        binding="wsDualHttpBinding" bindingConfiguration="NotificationManager"
        contract="ConfigurationSvc.INotificationManager" name="NotificationManager">
        <identity>
          <servicePrincipalName value="host/master-PC" />
        </identity>
      </endpoint>
      <endpoint address="http://master-pc:2002/Configuration/ConfigurationService.svc/GeometryManager"
        binding="basicHttpBinding" bindingConfiguration="GeometryManager"
        contract="ConfigurationSvc.IGeometryManager" name="GeometryManager" />
      <endpoint address="http://master-pc:2002/Configuration/ConfigurationService.svc/TimingManager"
        binding="basicHttpBinding" bindingConfiguration="TimingManager"
        contract="ConfigurationSvc.ITimingManager" name="TimingManager" />
      <endpoint address="http://master-pc:2002/Configuration/ConfigurationService.svc/MembershipManager"
        binding="basicHttpBinding" bindingConfiguration="MembershipManager"
        contract="ConfigurationSvc.IMembershipManager" name="MembershipManager" />
      <endpoint address="http://master-pc:2002/Configuration/ConfigurationService.svc/MembershipSetup"
        binding="basicHttpBinding" bindingConfiguration="MembershipSetup"
        contract="ConfigurationSvc.IMembershipSetup" name="MembershipSetup" />
      <endpoint address="http://master-pc:2002/Configuration/ConfigurationService.svc/RuleManager"
        binding="basicHttpBinding" bindingConfiguration="RuleManager"
        contract="ConfigurationSvc.IRuleManager" name="RuleManager" />
      <endpoint address="http://localhost:2002/Observer/ObserverService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IObserver"
        contract="ObserverSvc.IObserver" name="BasicHttpBinding_IObserver" />
    </client>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https"/>
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="false" multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>
</configuration>