<?xml version="1.0"?>
<configuration>
  <system.serviceModel>
    <bindings/>
    <client/>
    <services>
      <service name="Logger.LoggerService"
               behaviorConfiguration="LoggerServiceMEXBehavior">
        <endpoint name="LogManager"
                  address="/LogManager"
                  binding="basicHttpBinding"
                  contract="Logger.ServiceContracts.ILogManager"/>
        <endpoint name="StatusMessageLogger"
                  address="/StatusMessageLogger"
                  binding="wsDualHttpBinding"
                  contract="Logger.ServiceContracts.IStatusMessageLogger"/>
        <!-- Enable the MEX endpoint -->
        <endpoint contract="IMetadataExchange"
                  binding="mexHttpBinding"
                  address="mex"/>
      </service>
    </services>
    <!-- A behavior definition for MEX -->
    <behaviors>
      <serviceBehaviors>
        <behavior name="LoggerServiceMEXBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <!--<serviceDebug includeExceptionDetailInFaults="false"/>-->
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <directoryBrowse enabled="true"/>
  </system.webServer>
</configuration>
