<?xml version="1.0"?>
<configuration>
  <appSettings/>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <httpRuntime/>
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IGeometryManager" />
        <binding name="BasicHttpBinding_ITimingManager" />
        <binding name="BasicHttpBinding_IMembershipManager" />
        <binding name="BasicHttpBinding_IMembershipSetup" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:2002/Configuration/ConfigurationService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IGeometryManager"
        contract="ConfigurationSvc.IGeometryManager" name="BasicHttpBinding_IGeometryManager" />
      <endpoint address="http://localhost:2002/Configuration/ConfigurationService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITimingManager"
        contract="ConfigurationSvc.ITimingManager" name="BasicHttpBinding_ITimingManager" />
      <endpoint address="http://localhost:2002/Configuration/ConfigurationService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMembershipManager"
        contract="ConfigurationSvc.IMembershipManager" name="BasicHttpBinding_IMembershipManager" />
      <endpoint address="http://localhost:2002/Configuration/ConfigurationService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMembershipSetup"
        contract="ConfigurationSvc.IMembershipSetup" name="BasicHttpBinding_IMembershipSetup" />
    </client>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https"/>
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>
</configuration>