<?xml version="1.0"?>
<configuration>
  <system.serviceModel>
    <bindings/>
    <client/>
    <services>
      <service name="Configuration.ConfigurationService"
               behaviorConfiguration="ConfigurationServiceMEXBehavior">
        <endpoint name="ConfigurationManager"
                  address="/ConfigurationManager"
                  binding="basicHttpBinding"
                  contract="Configuration.ServiceContracts.IConfigurationManager"/>
        <endpoint name="GeometryManager"
                  address="/GeometryManager"
                  binding="basicHttpBinding"
                  contract="Configuration.ServiceContracts.IGeometryManager"/>
        <endpoint name="TimingManager"
                  address="/TimingManager"
                  binding="basicHttpBinding"
                  contract="Configuration.ServiceContracts.ITimingManager"/>
        <endpoint name="MembershipManager"
                  address="/MembershipManager"
                  binding="basicHttpBinding"
                  contract="Configuration.ServiceContracts.IMembershipManager"/>
        <endpoint name="MembershipSetup"
                  address="/MembershipSetup"
                  binding="basicHttpBinding"
                  contract="Configuration.ServiceContracts.IMembershipSetup"/>
        <endpoint name="RuleManager"
                  address="/RuleManager"
                  binding="basicHttpBinding"
                  contract="Configuration.ServiceContracts.IRuleManager"/>
        <!-- Enable the MEX endpoint -->
        <endpoint contract="IMetadataExchange"
                  binding="mexHttpBinding"
                  address="mex"/>
        <!-- Need to add this so MEX knows the address of our service -->
        <host>
          <!--<baseAddresses>
            <add baseAddress="http://localhost:8080/ConfigurationService"/>
          </baseAddresses>-->
        </host>
      </service>
    </services>
    <!-- A behavior definition for MEX -->
    <behaviors>
      <serviceBehaviors>
        <behavior name="ConfigurationServiceMEXBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <!--<serviceDebug includeExceptionDetailInFaults="false"/>-->
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>
</configuration>
